<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css" href="./style.css"></style>

	   <!-- Compiled and minified CSS -->
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

	  <!-- Compiled and minified JavaScript -->
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

	  <script
	  src="https://code.jquery.com/jquery-3.3.1.js"
	  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  	crossorigin="anonymous"></script>

  </head>

  <body>
	  <div class="header">	
		  <nav class="deep-purple lighten-3">
		    <div class="nav-wrapper">
		    	<%= link_to 'BLOG', "/posts",class: "brand-logo center",method: :get %>
		      <ul class="oparation-bar">
		      	<% if user_signed_in? %>
		      		<li class="sign-out">
		      			<%= link_to "サインアウト", destroy_user_session_path, method: :delete %>
		      		</li>
			        <li class="new-post">
			        	<%= link_to '投稿する', "/posts/new",method: :get %>
			        </li>
			      <% else %>  
		        	<li class="sign-in">	
		        		<%= link_to "サインイン", new_user_session_path, class: 'post' %>
          		</li>
          		<li class="new-user">
          			<%= link_to "新規登録", new_user_registration_path, class: 'post' %>
		        	</li>
		        <% end %>
		      </ul>
		    </div>
		  </nav>
		</div>
		<script type="text/javascript" src="./app.js"></script>
    <%= yield %>
  </body>
</html>
